* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #E5E5E5;
}


/*HEADER*/

header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #E5E5E5;
    backdrop-filter: blur(5px);
    padding: 1%;
    border-radius: 60px;
    width: 90%;
    height: 7vh;
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    top: 2%;

}

h1 {
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 1.5rem;
}

header a {
    color: #E5E5E5;
}

header span {
    color: #9B111E;
}

header section i {
    font-size: 1.5rem;
}

header section {
    display: flex;
    width: 23%;
    gap: 7%;
}

/*MAIN*/

main .bannere {
    background-image: url("../img/ban-tel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 46vh;
}

main section h2 {
    text-align: center;
    margin: 10px 0px 5px 0px;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 1.5rem;
}

main section h3 {
    color: #9B111E;
    font-family: "Gabriola", serif;
}

main p {
    margin-top: 30px;
}

main section {
    border-bottom: solid 2px #9B111E;
    width: 90%;
    text-align: center;
    margin: 10% auto;
    padding: 10% 0px;
}

main .projet {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10% auto;
    position: relative;
}

main .projet article {
    text-align: center;
    border: solid 4px transparent;
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    height: 13vh;
    margin: 1% auto;
    transition: all 0.4s ease;
    z-index: 1;
}

main .projet article:hover {
    border: solid 4px #9B111E;
}

main section article:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/f1.png");
    background-size: 100%, 30%;
    background-position: 3% center;
    background-repeat: no-repeat;
}

main section article:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/canette.png");
    background-size: 100%, 8%;
    background-position: 13% center;
    background-repeat: no-repeat;
}

main section article:nth-child(5) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/portfolio.png");
    background-size: 100%, 12%;
    background-position: 13% center;
    background-repeat: no-repeat;
}

main .projet div {
    position: absolute;
    background-color: #8a8989;
    border-radius: 30px;
    width: 98%;
    height: 25vh;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transition: all 0.3s;
}

main .projet a {
    color: #9B111E;
}

.div-1 {
    top: 35%;
    left: 1%;
}

.div-2 {
    top: 69%;
    left: 1%;
}

.div-3 {
    top: 1%;
    left: 1%;
}

main .art-1:hover+.div-1, .div-1:hover {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
}

main .art-2:hover+.div-2, .div-2:hover {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
}

main .art-3:hover+.div-3, .div-3:hover {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
}

main section article h3 {
    font-size: 25px;
    color: #E5E5E5;
    padding-left: 30%;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}

main .propos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    gap: 10%;
}

main .propos i {
    font-size: 7rem;
    padding-top: 10%;
    color: #9B111E;
}

.carousel {
    width: 100%;
    height: 30vh;
    margin: 10% auto;
}

input {
    accent-color: #9B111E;
}

label {
    background-color: #a1a1a1;
    border-radius: 20px;
    border: solid 1px #9B111E;
}

label div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

label h4 {
    margin-left: 1%;
    font-size: 1.2rem;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}

label p {
    margin: 13%;
    text-align: left;
}

label i {
    font-size: 4rem;
    color: #9B111E;
}

.cartes {
    position: relative;
    width: 100%;
    height: 100%;
}


.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 3% auto;
    cursor: pointer;
    opacity: 0;
    transition: transform 0.4s ease;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#rond-1:checked~.cartes #image-1,
#rond-2:checked~.cartes #image-2,
#rond-3:checked~.cartes #image-3,
#rond-4:checked~.cartes #image-4,
#rond-5:checked~.cartes #image-5,
#rond-6:checked~.cartes #image-6,
#rond-7:checked~.cartes #image-7,
#rond-8:checked~.cartes #image-8 {
    transform: translateX(0);
    z-index: 2;
    opacity: 1;
}

#rond-1:checked~.cartes #image-2,
#rond-2:checked~.cartes #image-3,
#rond-3:checked~.cartes #image-4,
#rond-4:checked~.cartes #image-5,
#rond-5:checked~.cartes #image-6,
#rond-6:checked~.cartes #image-7,
#rond-7:checked~.cartes #image-8,
#rond-8:checked~.cartes #image-1 {
    transform: translateX(40%) scale(0.8);
    z-index: 1;
    opacity: 1;
}


#rond-1:checked~.cartes #image-8,
#rond-2:checked~.cartes #image-1,
#rond-3:checked~.cartes #image-2,
#rond-4:checked~.cartes #image-3,
#rond-5:checked~.cartes #image-4,
#rond-6:checked~.cartes #image-5,
#rond-7:checked~.cartes #image-6,
#rond-8:checked~.cartes #image-7 {
    transform: translateX(-40%) scale(0.8);
    z-index: 1;
    opacity: 1;
}

main .rouge {
    color: #9B111E;
}

/*FOOTER*/

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    color: white;
}

footer ul {
    list-style: none;
    display: flex;
}

footer li {
    font-size: 0.7rem;
    display: flex;
    gap: 5%;
}

footer li i {
    color: #9B111E;
}


/* Responsive */
@media screen and (min-width: 1024px) {
    main .bannere {
        background-image: url("../img/ban.jpg");
        height: 100vh;
    }

    header {
        width: 60%;
    }

    header section {
        display: flex;
        flex-direction: row;
        width: 15%;
        gap: 3%;
    }

    main section h2 {
        font-size: 3rem;
    }

    main section h3 {
        font-size: 2rem;
    }

    main p {
        font-size: 1.3rem;
    }

    main .propos i {
        font-size: 7rem;
        padding-top: 5%;
    }

    main section {
        width: 60%;
        margin: 1% auto;
        padding: 5% 0px 10% 0px;
    }

    .carousel {
        width: 70%;
        height: 50vh;
    }


    label h4 {
        font-size: 1.8em;
    }

    label i {
        font-size: 6rem;
    }


    #rond-1:checked~.cartes #image-3,
    #rond-2:checked~.cartes #image-4,
    #rond-3:checked~.cartes #image-5,
    #rond-4:checked~.cartes #image-6,
    #rond-5:checked~.cartes #image-7,
    #rond-6:checked~.cartes #image-8,
    #rond-7:checked~.cartes #image-1,
    #rond-8:checked~.cartes #image-2 {
        transform: translateX(70%) scale(0.6);
        opacity: 0.8;
    }


    #rond-1:checked~.cartes #image-7,
    #rond-2:checked~.cartes #image-8,
    #rond-3:checked~.cartes #image-1,
    #rond-4:checked~.cartes #image-2,
    #rond-5:checked~.cartes #image-3,
    #rond-6:checked~.cartes #image-4,
    #rond-7:checked~.cartes #image-5,
    #rond-8:checked~.cartes #image-6 {
        transform: translateX(-70%) scale(0.6);
        opacity: 0.8;
    }

    main .projet {
        display: flex;
        flex-direction: row;
    }

    main .projet article {
        width: 30%;
        height: 60vh;

    }

    main section article:nth-child(1) {
        background-size: 100%, 80%;
        background-position: center 40%;
    }

    main section article:nth-child(3) {
        background-size: 100%, 40%;
        background-position: center 20%;
    }

    main section article:nth-child(5) {
        background-size: 100%, 60%;
        background-position: center 20%;
    }

    main section article h3 {
        font-size: 2rem;
        padding-top: 90%;
        padding-left: 0%;
    }

    main .projet div {
    position: absolute;
    background-color: #8a8989;
    border-radius: 30px;
    width: 30%;
    padding: 1%;
    height: 60vh;
    opacity: 0;
    z-index: 0;
    transform: scale(0.5);
    transition: all 0.3s;
}

main .projet a {
    color: #9B111E;
}

.div-1 {
    top: 2%;
    left: 2%;
}

.div-2 {
    top: 2%;
    left: 35%;
}

.div-3 {
    top: 2%;
    left: 68%;
}

main .art-1:hover+.div-1, .div-1:hover {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
}

main .art-2:hover+.div-2, .div-2:hover {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
}

main .art-3:hover+.div-3, .div-3:hover {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
}
}
